* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.solutions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #f7f7f7;
    color: #333;
}

.solutions div {
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.solutions h3 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.solutions p {
    font-size: 16px;
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.solutions button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ca190c;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 8px;
    box-shadow: #2f51e7 0px 5px 10px;
}

.solutions img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 15px;
}

.solutions ul {
    list-style-type: none;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.solutions li {
    font-size: 16px;
    margin-bottom: 10px;
}

.solutions hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
    width: 100%;
}

/* Responsive styles */
@media (min-width: 768px) {
    .solutions {
        flex-direction: row;
        text-align: left;
    }

    .solutions > div {
        flex: 1;
        margin: 10px;
    }

    .solutions h3 {
        font-size: 28px;
    }

    .solutions p, .solutions li {
        font-size: 18px;
    }

    .solutions button {
        font-size: 18px;
    }

    .solutions ul {
        padding-left: 20px;
    }

    .solutions hr {
        width: 80%;
    }
}
