* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(rgba(255, 0, 0, 0.767), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), #0057fa), url("../../../public/repair.jpeg");
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255); 
}

.welcome h1 {
    color: rgb(255, 247, 247);
    margin-bottom: 10px;
    width: 100%;
    margin-bottom: 60px;
    font-size: 40px;
    margin-bottom: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400px;
    overflow: hidden; /* Ensures the text doesn't overflow */
    white-space: nowrap; /* Prevents text from wrapping */
    border-right: 3px solid; /* Cursor effect */
    width: 0; /* Initial width for animation */
    animation: typing 3s steps(40, end) 1s forwards, blink-caret 0.5s;
}

.welcome p {
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

.welcome-icon {
    margin-top: 20px;
}

.welcome-icon img {
    max-width: 100%;
    height: auto;
}

/* Typing effect */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

/* Blinking cursor */
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}
/* Responsive styles */
@media (min-width: 768px) {
    .welcome {
        flex-direction: row;
        text-align: left;
    }

    .welcome h1 {
        font-size: 2.5vw; /* Adjust font size for larger screens */
    }

    .welcome p {
        font-size: 1.5vw; /* Adjust font size for larger screens */
    }

    .welcome-icon {
        margin-left: 20px;
    }
}

/* Responsive styles for smaller screens */
@media (max-width: 767px) {
    .welcome h1 {
        font-size: 5vw; /* Adjust font size for smaller screens */
        
    }

    .welcome p {
        font-size: 4vw; /* Adjust font size for smaller screens */
    }
}