:root {
    --primary-color: #d82a2a;
    --secondary-color: #fff;
    --hover-color: #f30000;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --card-bg-color: #fff;
    --text-color: #333;
    --transition-duration: 0.3s;
    --animation-duration: 1s;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .services-container {
    padding: 40px 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    overflow: hidden;
  }
  
  .services-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    animation: fadeIn var(--animation-duration) ease-in-out;
  }
  
  .marquee {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  
  .marquee-content {
    display: flex;
    animation: marquee 10s linear infinite;
  }
  
  .marquee.paused .marquee-content {
    animation-play-state: paused;
  }
  
  .service {
    background-color: var(--card-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow-color);
    width: 300px; /* Adjusted width */
    margin-right: 20px;
    transition: transform var(--transition-duration), box-shadow var(--transition-duration);
    text-align: left;
  }
  
  .service:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 8px 16px var(--shadow-color);
  }
  
  .service-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .service-heading {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--primary-color);
    padding: 10px;
  }
  
  .service-paragraph {
    font-size: 1rem;
    color: var(--text-color);
    padding: 10px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  