.footer {
    background-color: #000000;
    padding: 20px 0;
    color:#333;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer-section h6 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
    color: #555;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    color: #888;
  }
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-section {
      margin-bottom: 20px;
      text-align: center;
    }
  
    .footer-section:last-child {
      margin-bottom: 0;
    }
  }
  