*{
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #d82a2a;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .bar h1 {
    margin: 0;
  }
  
  .menu-toggle {
    display: none;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
  }
  