.mapContainer {
    display:  flex;;
    justify-content: space-between;
    background-color: skyblue;
    width: 100%;
}

.mapContainer .location {
    color: #333;
    padding: 20px;
}

.mapContainer h2 {
    color: white;
}

.mapContainer iframe{
    padding: 30px;
}

@media (max-width: 768px) {
    .mapContainer {
        display: block;
    }

    .mapContainer iframe {
        width: 100%;
    }
}