.services-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-image: url('../../public/scifi-repair.jpeg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
  }
  
  .service-card {
    margin: 20px 50px 5px 20px;
    width: 350px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(1, 131, 238, 0.1);
    transition: transform 0.2s;
    color: rgb(0, 0, 0);
    background-color: dodgerblue;
    opacity: .7;
  }
  
  .service-card:hover {
    transform: scale(1.05);
  }
  
  .service-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .service-title {
    font-size: 1.5em;
    margin: 10px 0;
    text-align: center;
  }
  
  .service-description,
  .service-duration-cost {
    font-size: 1em;
    margin: 10px 0;
  }
  