h2 {
  text-align: center;
  margin: 20px 0;
  font-size: 2em;
  color: #d82a2a;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: skyblue;
}

.heading p {
  border: 1px solid #333;
  width: fit-content;
  text-align: center;
}

.search-input {
  width: 80%;
  max-width: 400px;
  padding: 10px 20px;
  font-size: 1em;
  border: 2px solid #d82a2a;
  border-radius: 25px;
  margin: 20px 0;
  outline: none;
  transition: all 0.3s ease;
}

.search-input:focus {
  box-shadow: 0 0 10px skyblue;
  border-color: skyblue;
}

.search-input::placeholder {
  color: skyblue;
}

.search-input:hover {
  box-shadow: 0 0 10px skyblue;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.catalog-item {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.catalog-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item-image img {
  width: 100%;
  height: auto;
  display: block;
}

.item-details {
  padding: 10px;
}

.item-name {
  font-size: 1.2em;
  margin: 10px 0;
}

.item-price {
  color: #d82a2a;
  font-weight: bold;
}

.item-description {
  font-size: 0.9em;
  color: #555;
}

.whatsapp-button {
  display: inline-flex;
  align-items: center;
  background-color: #25d366;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: #1ebe54;
}

.whatsapp-button svg {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .heading p {
      margin-left: 0;
      justify-content: center;
  }

  .search-input {
      width: 90%;
  }
}

.seeAll {
  margin: 0 auto;
  margin-top: 40px;
  width: 40%;
  box-shadow: 0px 10px 30px rgb(10, 213, 240);
  height: fit-content;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  background-color: skyblue;
  border-radius: 50px;
}

.seeAll a {
  color: rgb(248, 4, 4);
  font-weight: 1000;
  font-size: 30px;
  padding-left: 30%;
}
